$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import './vars';
@import '~bootstrap/scss/bootstrap';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import '~font-awesome/scss/font-awesome';
@import './style';

.athelete-form ul.images,
.event-form ul.images {
  list-style-type: none;
  padding-left: 0;
  margin-top: 25px;
}

.athelete-form .form-group input[type=file],
.event-form .form-group input[type=file] {
  width: auto;
  display: inline-block;
}