$white: #fff;
$blue: #1890cc;

html {
	height: 100%;
}

body {
	background: url(/images/bg.jpg) top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	color: $white;

	table {
		height: 100%;
		width: 100%;

		tr {
			td {
				padding: 50px 0;

				.icon {
					display: inline-block;
				}

				.kilometer {
					font-size: 48px;
					font-weight: 900;
				}

				.slogan {
					font-size: 25px;
					font-weight: 900;
					text-transform: uppercase;
					line-height: 28px;
					margin-top: 40px;
				}

				.counter {
					margin-top: 60px;

					> div {
						display: inline-block;

						.karakter {
							background: $blue;
							color: $white;
							margin: 0 2px;
							font-size: 85px;
							font-weight: 900;
							padding: 2px 0 12px 0;
							width: 90px;
							text-align: center;
							display: inline-block;
						}

						@media (max-width: 991px) {
							.karakter {
								font-size: 40px;
								width: 60px;
							}
						}

						.hours, .minutes, .days {
							margin-right: 25px;
						}

						.counter_tekst {
							text-transform: uppercase;
							font-weight: 900;
							text-transform: uppercase;
							font-size: 22px;
							margin-top: 20px;
						}

						@media (max-width: 991px) {
							.counter_tekst {
								font-size: 18px;
							}
						}
					}

					@media (max-width: 680px) {
						> div {
							display: block;
							margin-top: 25px;

							.hours, .minutes, .days {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

.spn-blue {
	color: $blue;
}


