// -----------------------------------------
// Variables
// -----------------------------------------
$primary: #113767;
$secondary: #1890cc;
$black: #666666;
$light-black: #808080;
$gray: #e6e6e6;
$light-gray: #f3f1f1;
$white: #fff;


$body-font: 'Exo 2', sans-serif;
$title-font: 'Exo 2', sans-serif;


// -----------------------------------------
// Global
// -----------------------------------------
html, body {
    font-size: 16px;
    line-height: 26px;
    color: $black;
    font-family: $body-font;
    overflow-x: hidden;
}
a:hover{text-decoration: none;}

.m-bottom-15{margin-bottom: 15px !important;}
.m-bottom-30{margin-bottom: 30px !important;}
.m-bottom-50{margin-bottom: 50px !important;}
.m-bottom-75{margin-bottom: 75px !important;}
.m-bottom-100{margin-bottom: 100px !important;}
.m-bottom-125{margin-bottom: 125px !important;}

.p-top-15{padding-top: 15px !important;;}
.p-top-40{padding-top: 40px !important;;}

.cms{
    font-family: $body-font; font-weight:300;
    &.black{color: $light-black;}
    &.white{color: $white;}
}

.section-title{
    font-weight: 800;text-transform: uppercase; display:table; margin:0 auto; position:relative;
    &.white{color:$white; }
    &.blue{color: $primary;}
    &:before{content:""; height:5px; background-color: $black; width: 35px; position:absolute; top: calc( 50% - 2.5px); left: -65px;}
    &:after{content:""; height:5px; background-color: $black; width: 35px; position:absolute; top: calc( 50% - 2.5px); right: -65px; }
    @media(max-width: 767px){
        font-size: 21px;
    }
}


.blue-button{
    display:block;
    a{display: inline-block;  background-color: $secondary; color:$white; font-weight:500;}
    &.medium a{padding:10px 25px; font-size:16px;}
    &.small a{padding:5px 20px; font-size:14px;}
    @media(max-width:767px){
        &.medium a{padding:10px 25px; font-size:14px;}
        &.small a{padding:5px 20px; font-size:12px;}
    }
}

.read-more{color:$secondary;}
.mountains-top{background-image: url(../img/mountains/mountains-bottom.svg); background-size:auto 100%; height:100px; position: absolute; top:-2px; left:0; right:0; background-repeat:repeat-x;background-position: 0 0;}
.mountains-bottom{background-image: url(../img/mountains/mountains.svg); background-size:auto 100%; height:100px; position: absolute; bottom:-2px; left:0; right:0; background-repeat:repeat-x;background-position: 0 0;}

// -----------------------------------------
// Base
// -----------------------------------------
img {
    max-width: 100%;
}

// -----------------------------------------
// Typography
// -----------------------------------------
h1, h2 {
    font-family: $title-font;
    margin: 0 0 30px;

    a {
        color: $black;
        text-decoration: none !important;
    }
}

h3 {
    font-family: $title-font;
}

a {
    color: $primary;

    &:hover {
        color: darken($primary, 5%);
    }
}




// -----------------------------------------
// Header
// -----------------------------------------
header {
    background-color: $primary;
    a {
        text-decoration: none !important;
    }
        .navbar-toggler{
            i{
                color:white;
            }
            &:focus{outline:none;}
        }
   
        .navbar-light {
            .navbar-brand img{max-height: 60px;}
            .navbar-nav{
                .nav-item{
                    margin: 0 15px; position:relative;
                    .nav-link{color:$white; }
                    &.active{
                        .nav-link{color:$white;}
                        &:before{content:""; height:5px; background-color: $secondary; position:absolute; left:10px; right:10px; bottom:-22px;}
                    }
                }
            }
            @media(max-width:991px){
                .navbar-brand img{max-height: initial; width:75px; max-width:initial;}
                .navbar-nav{
                    .nav-item{
                        margin: 0 10px; position:relative;
                        .nav-link{color:$white; font-size:14px; }
                        &.active{
                            .nav-link{color:$white;}
                            &:before{bottom: -15px;}
                        }
                    }
                }
            }
            @media(max-width:767px){
                .navbar-nav{
                    .nav-item{
                        margin: 0 15px; position:relative;
                        .nav-link{color:$white; font-size:16px;}
                        &.active{
                            .nav-link{color:$white;}
                            &:before{display:none;}
                        }
                    }
                }
            }
        }
}

// -----------------------------------------
// Banner
// -----------------------------------------
#banner{
    height: 650px; background-image: url(../img/home/banner.jpg); background-size:cover; background-position:center; position:relative;

    &.banner-small {
        height: 350px;
    }

    .wrapper{
        position: relative;
        .banner-title{
            text-align: center;position: absolute; top: 25%; left: 0; right: 0;
            h1{
                font-weight:900; font-size: 56px; color:$white; margin-bottom:15px; text-shadow: 0 0 20px rgba(0,0,0, .2); color:$primary;
                span{color:$secondary;}
            }
            h2{background-color: $primary; display: inline-block; font-size:21px; padding: 10px 15px; color:$white;}
        }
        .music-for-life{position: absolute; bottom:100px; right:0;}
    }
    .mountains{background-image: url(../img/mountains/mountains.svg); background-size:auto 100%; height:100px; position: absolute; bottom:-1px; left:0; right:0;}

    @media(max-width:767px){
        height: 450px;
        .wrapper{
            .banner-title{
                h1{font-size:36px;}
                h2{font-size:18px;}
            }
             .music-for-life img{max-height: 100px;}
        }
    }
    @media(max-width:576px){
        height: 400px;
        .wrapper{
            .banner-title{
                top:20%;
                h1{font-size:28px;}
                h2{font-size:16px;}
            }
            .strava img{max-width:100px;}
            .music-for-life img{max-height: 100px;}
        }
    }
}

// -----------------------------------------
// Blue sections
// -----------------------------------------

.blue-section{
    background-color: $primary; padding: 75px 0; position:relative;
    span.item-label{position: absolute; top: -15px; left: 0; right: 0; text-align: center; color: white;  z-index: 3; font-size: 11px; font-weight: 300; opacity: .5; text-transform:uppercase;}
    .current-distance, .current-dontaion, .counter{
        text-transform:uppercase; color: $white; font-size: 42px; font-family: $title-font; font-weight: 800; display:inline-block; margin: 0 auto; margin-bottom:0px; line-height: initial; background-color: $primary; padding: 0 15px; z-index: 2; position:relative;
        span{color:$secondary;}
    }
    span.line{
        height: 1px; display: block;  background-color: rgba(256,256,265,.25);  position: absolute;  left: 0;  right: 0;  top: 50%;
        &.l-15{left:15px;}
        &.r-15{righ:15px;}
    }

    .help-item{
        img{max-width:150px; display:block; margin: 0 auto;}
        .item-title{
            span{color: $secondary;}
            color:$white; text-transform:uppercase; font-weight:800; font-size:18px

        }
        @media(max-width:767px){
            margin-bottom:30px;
            img{max-width:100px;}
            .item-title{
                span{display:block;}
                font-size:16px;

            }
        }
    }

    #athletes-slider{
        .slick-track{padding-top: 100px; padding-bottom: 100px;}
        .athlete-item{
            padding: 0 15px; -webkit-transition: ease-in .5s;  -moz-transition:  ease-in .5s;   -o-transition: ease-in .5s;  transition: ease-in .5s;
            .athlete-info{
                background-color:$light-gray; padding: 15px;
                .athlete-name{color:$primary; font-weight:800; margin-bottom:5px;}
                .subline{color:$secondary; display:block;}
            }
            &.slick-current{
                .inner{box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);}
                -webkit-transform:scale(1.4);
                -moz-transform:scale(1.4);
                -ms-transform:scale(1.4);
                transform:scale(1.4);
                

                .athlete-info *{-webkit-transform:scale(.75);
                -moz-transform:scale(.75);
                -ms-transform:scale(.75);
                transform:scale(.75); }


            }
            &:focus{outline: none;}
            @media(max-width:767px){
                &.slick-current{
                    .inner{box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);}
                    -webkit-transform:scale(1.2);
                    -moz-transform:scale(1.2);
                    -ms-transform:scale(1.2);
                    transform:scale(1.2);
                    

                    .athlete-info *{-webkit-transform:scale(.75);
                    -moz-transform:scale(.9);
                    -ms-transform:scale(.9);
                    transform:scale(.9); }


                }
            }
        }
    }
    @media(max-width:767px){
        .current-distance, .current-dontaion, .counter {font-size:38px;}
    }
    @media(max-width:576px){
        .current-distance, .current-dontaion, .counter {font-size:24px;}
        span.item-label{top:-20px;}
    }
}

// -----------------------------------------
// Gray sections
// -----------------------------------------

.gray-section{
    background-color: $light-gray; padding: 150px 0; position:relative;
    .timeline{
        position:relative; margin-bottom: 150px; margin-top:150px;
        .timeline-item{
            position:relative;
            .line{height: 35px; width: 100%;}
            .sign-wrapper{
                display:table; text-align:center; position: absolute;
            }
            
            .sign{
                background-color: $primary; text-transform: uppercase; text-align:center;
                .date, .distance{color:white; font-weight:800; padding: 5px 10px; display:block;}
                .amount{color:$secondary; font-weight: 800; display:block; padding: 0px 10px;}
                a{display: block; color:white; font-weight:800; background-color: $secondary; padding: 0px 10px; font-size: 12px;}
            }
            &.past{
                .line{background-color: $secondary;}
            }
            &.to-do{
                .line{background-color: $gray;}
            }

            &:first-of-type {
                i{margin-bottom: -12px; display: block;  font-size: 32px; color: $primary;}
                .sign-wrapper{left:0; bottom:-85px;}
            }
            &:nth-of-type(2) {
                i{margin-top: -12px; display: block;  font-size: 32px; color: $primary;}
                .sign-wrapper{left:0; top:-85px;}
            }
            &:nth-of-type(3){
                i{margin-bottom: -12px; display: block;  font-size: 32px; color: $primary;}
                .sign-wrapper{right:0; bottom:-85px;}
            }
            &:nth-of-type(4){
                i{margin-top: -12px; display: block;  font-size: 32px; color: $primary;}
                .sign-wrapper{right:0; top:-85px;}
            }
        }
    }
    .event-item{
        .left-part{
            img{width:100%;}
            .date{background-color: $primary; padding: 5px; margin:0; text-align:center; color:$white; font-weight:800; font-size:16px;}
        }
        .right-part{
            .event-title{color:$primary; font-weight:800; font-size:21px;}
            background-color: $gray; padding: 15px;
        }
    }

    .auction-item{
        img{width:100%;}
        .details{
            background-color: $primary;
            .item{
                color:$white; font-weight:800; text-align:center; padding: 5px 15px;
                &:first-of-type{border-right: 2px solid rgba(256,256,265,.25); }
            }
        }
        .preview{
            background-color: $gray; padding: 25px 15px 50px 15px;
            .auction-title{color:$primary; font-weight: 800; text-transform:uppercase;}
            .blue-button{position: absolute; left: 0; right: 0; bottom: -20px;}
        }
        @media(max-width: 991px){
            margin-bottom: 50px;
        }
    }

    .charity-item{
        .charity-title{color:$primary; font-weight:800;}
        @media(max-width:767px){
            margin-bottom:30px;
        }
    }
    
    #bottom-pictures{
        .grid {clear:both;}
        .grid-sizer{width:15%;}
        .gutter-sizer {width:2%;}
        .grid-item{
            background-color:#808080;
            width: 15%;
            height: 165px;
            margin-bottom:25px;
        }
        .grid-item-width-2{ width:32%;height: 165px;}
        .grid-item-height-2{height: 355px;}

        .grid-social {height:70px;}
        .grid-facebook {background-color:#3b5998 !important;}
        .grid-instagram {background-color:#ed1c24 !important;}
    }
}

@media screen and (max-width: 991px) and (min-width:501px) {
    .gray-section{
        #bottom-pictures{
            .grid {clear:both;}
            .grid-sizer{width:30%;}
            .gutter-sizer {width:2%;}
            .grid-item{
                background-color:#808080;
                width: 30%;
                height: 165px;
                margin-bottom:15px;
            }
            .grid-item-width-2{width:62%;height: 165px;}
            .grid-item-height-2{height:345px;}

            .grid-social {height:75px;}
        }
    }
}

@media screen and (max-width: 500px) and (min-width: 200px) {
     .gray-section{
        #bottom-pictures{
            .grid {clear:both;}
            .grid-sizer{width:100%;}
            .gutter-sizer {width:0%;}
            .grid-item{
                background-color:#808080;
                width: 100%;
                height: 165px;
                margin-bottom:15px;
            }
            .grid-item-width-2{width:100%;height: 165px;}
            .grid-item-height-2{height:345px;}

            .grid-social {height:75px;}
        }
    }
}



// -----------------------------------------
// Footer
// -----------------------------------------
footer{
    background-color: $primary; padding: 75px 0 15px 0; 
    .footer-title{color:$secondary; font-weight:800; text-transform: uppercase;}
    .footer-list{
        padding:0px; list-style:none;
        li {
            margin-bottom: 5px;
            a{color: $light-black; font-weight:300;}
        }
    }
    img{max-width: 175px;}
    .copyright{font-size: 14px;}

    @media(max-width:576px){
         
        .footer-list{
            margin-bottom:30px;
        }
        img{max-width: 125px; display:block;}
    }
}






