{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}

        {% if image_url is not null %}
            <img width="125" src="{{ asset('uploads/uploaded_images/' ~ image_url) }}"/>
            {{ block('form_widget') }}
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}