{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container py-4 athelete-form">
        {{ form_start(form) }}

        <div class="row mb-3">
            <div class="col-md-6">{{ form_row(form.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form.lastname) }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">{{ form_row(form.nickname) }}</div>
            <div class="col-md-6">{{ form_row(form.website) }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">{{ form_row(form.birthdate) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.job) }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">{{ form_row(form.instagram) }}</div>
            <div class="col-md-6">{{ form_row(form.facebook) }}</div>
        </div>

        {{ form_row(form.biography) }}
        {{ form_row(form.goals) }}

        {{ form_row(form.cover) }}

        {{ form_label(form.images) }}
        <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype.picture)|e('html_attr') }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for image in form.images %}
                <li class="mb-3">{{ form_row(image.picture) }}</li>
            {% endfor %}
        </ul>

        {{ form_row(form.save) }}

        {{ form_end(form) }}
    </div>
{% endblock %}