{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container p-4">
        <div class="mb-4">
            <a href="{{ path('adminathletelist') }}" class="btn btn-secondary btn-sm">
                Terug naar overzicht
            </a>
        </div>

        {% if athlete is not empty %}
            <div class="row">
                <div class="col-md-4">
                    {% if athlete.cover %}
                        <div class="mb-3">
                            <img class="img-fluid" alt="{{ athlete.firstname }} {{ athlete.lastname }}" src="{{ asset('uploads/uploaded_images/' ~ athlete.cover.picture) }}"/>
                        </div>
                    {% endif %}
                    <ul class="list-group">
                        {% for event in athlete.events %}
                            <li class="list-group-item {{ event.date < date() ? 'list-group-item-success' : '' }}">{{ event.date|date('d/m/Y') }} - {{ event.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8">
                    <h4>{{ athlete.firstname }} {{ athlete.lastname }}</h4>

                    <p>{{ athlete.biography }}</p>

                    {% if athlete.images %}
                        {% for image in athlete.images %}
                            <div class="mb-3">
                                <img width="200" alt="{{ athlete.firstname }} {{ athlete.lastname }}" src="{{ asset('uploads/uploaded_images/' ~ image.picture) }}"/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>Geen atleet gevonden</p>
        {% endif %}
    </div>
{% endblock %}