{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container p-4">
        <div class="mb-4">
            <a href="/admin/athlete/create" class="btn btn-primary btn-sm">
                <i class="fa fa-plus mr-2" aria-hidden="true"></i> Atleet toevoegen
            </a>
        </div>

        {% if athletes is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Voornaam</th>
                    <th scope="col">Achternaam</th>
                    <th scope="col">Afstand</th>
                    <th scope="col">Acties</th>
                </tr>
                </thead>
                <tbody>
                {% for athlete in athletes %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ athlete.firstname }}</td>
                        <td>{{ athlete.lastname }}</td>
                        <td>{{ athlete.distance }} km</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="/admin/athlete/{{ athlete.id }}" class="btn btn-primary btn-sm">
                                    Detail
                                </a>
                                <a href="/admin/athlete/edit/{{ athlete.id }}" class="btn btn-primary btn-sm">
                                    Wijzigen
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Geen atleten gevonden</p>
        {% endif %}
    </div>
{% endblock %}