{% extends 'base.html.twig' %}

{% block title %}Contact | Kilometer.be{% endblock %}

{% set difference = date(endDate).diff(date(startDate)) %}
{% set leftDays = difference.days %}

{% block body %}
    <main>
        <section id="banner" {% if event.image %} style="background-image: url('{{ asset('uploads/uploaded_images/' ~ event.image.picture) }}');" {% endif %}>
            <div class="container h-100">
                <div class="wrapper h-100">

                </div>

                <div class="mountains"></div>
            </div>
        </section>

        <section class="blue-section p-0">
            <div class="container">
                <h2 class="text-white text-center mb-1"><strong>{{ event.name }}</strong></h2>
                <h4 class="text-white text-center mb-0">{{ event.date|date('l j F Y') }}</h4>
            </div>
        </section>

        <div class="mountains-top position-relative"></div>

        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h3 class="text-primary">Wat is het?</h3>
                            <span class="border border-primary py-2 px-3 rounded text-primary">
                                {% if leftDays == 1 %}
                                    Nog 1 dag
                                {% elseif leftDays > 1 %}
                                    Nog {{ leftDays }} dagen
                                {% elseif leftDays == 0 %}
                                    Afgelopen
                                {% endif %}
                            </span>
                        </div>


                        <p>{{ event.description }}</p>

                        <p class="text-primary mb-0">Waar?</p>

                        <p>{{ event.location }}</p>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}