{% extends "base.html.twig" %}

{% block body %}
    <div class="container p-4">
        <h1 class="text-secondary">Evenementen</h1>

        {% if events is not empty %}
            {% for event in events %}
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            {{ event.date|date('d/m/Y') }}

                            {% if event.location %}
                                <div>
                                    <i class="fa fa-location-arrow text-primary mr-2 align-middle"></i>
                                    <span class="align-middle">{{ event.location }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.description }}</p>

                        <a href="{{ path('eventdetail', {'event': event.id }) }}" class="btn btn-primary btn-sm">Details</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>Geen evenementen gevonden</p>
        {% endif %}
    </div>
{% endblock %}