<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,800" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% if is_granted("ROLE_ADMIN") %}
                {{ include('admin/subtemplates/navigation/header.html.twig') }}
            {% endif %}

            {{ include('default/subtemplates/navigation/header.html.twig') }}
        {% endblock header %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        {% block body %}{% endblock %}

        {{ include('default/subtemplates/navigation/footer.html.twig') }}

        <script src="{{ asset('build/app.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
