{% extends 'base.html.twig' %}

{% block title %}Home | Kilometer.be{% endblock %}

{% block body %}
    <main>
        <section id="banner">
            <div class="container h-100">
                <div class="wrapper h-100">
                    <div class="strava text-right">
                        <img src="{{ asset('assets/img/home/strava.png') }}" alt="strava">
                    </div>
                    <div class="banner-title">
                        <h1>Kilometer<span>.be</span></h1>
                        <h2>12 vrienden verzamelen kilometers voor het goede doel</h2>
                    </div>
                    <div class="music-for-life">
                        <img src="{{ asset('assets/img/home/warmste_week.png') }}" alt="De warmste week">
                    </div>
                </div>
                <div class="mountains"></div>
            </div>
        </section>

        <section class="blue-section">
            <div class="container">
                <div class="row m-bottom-30">
                    <div class="col-6 text-center">
                        <span class="item-label">km verzameld</span>
                        <p class="current-distance">2125 <span>km</span></p>
                        <span class="line l-15"></span>
                    </div>
                    <div class="col-6 text-center">
                        <span class="item-label">Euro's ingezameld</span>
                        <p class="current-dontaion"><span>€</span> 1052</p>
                        <span class="line r-15"></span>
                    </div>
                </div>

                <div class="row m-bottom-75">
                    <div class="col-12 text-center">
                        <span class="item-label">volgende event:</span>
                        <div class="counter">
                            142 15 25 46
                        </div>
                        <span class="line l-15 r-15"></span>
                    </div>
                </div>

                <div class="row m-bottom-100">
                    <div class="col-sm-4">
                        <img src="img/home/fighter.png" alt="fighter">
                    </div>
                    <div class="col-sm-8">
                        <div class="cms white m-bottom-30 p-top-40">
                            Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt.
                        </div>
                        <div class="blue-button medium">
                            <a href="#">Ik wil helpen</a>
                        </div>
                    </div>
                </div>

                <h2 class="section-title white m-bottom-75">Hoe kan ik helpen?</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="help-item">
                            <img class="m-bottom-15" src="{{ asset('assets/img/home/design-03.svg') }}" alt="logo1">
                            <h3 class="item-title text-center"><span>1.</span> De evenementen</h3>
                            <div class="cms black text-center m-bottom-30">
                                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur.
                            </div>
                            <div class="blue-button small text-center">
                                <a href="#">Bekijk evenementen</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="help-item">
                            <img class="m-bottom-15" src="{{ asset('assets/img/home/design-04.svg') }}" alt="logo2">
                            <h3 class="item-title text-center"><span>2.</span> De veiling</h3>
                            <div class="cms black text-center m-bottom-30">
                                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur.
                            </div>
                            <div class="blue-button small text-center">
                                <a href="#">Ga naar de veiling</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="help-item">
                            <img class="m-bottom-15" src="{{ asset('assets/img/home/design-05.svg') }}" alt="logo3">
                            <h3 class="item-title text-center"><span>3.</span> Vrije gift</h3>
                            <div class="cms black text-center m-bottom-30">
                                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur.
                            </div>
                            <div class="blue-button small text-center">
                                <a href="#">Online doneren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gray-section">
            <div class="mountains-top"></div>
            <div class="container">
                <h2 class="section-title blue m-bottom-75">Evenementen</h2>

                <div class="timeline">
                    <div class="row no-gutters">
                        <div class="col-3 timeline-item past">
                            <div class="line"></div>
                            <div class="sign-wrapper">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                                <div class="sign">
                                    <span class="distance">57 km</span>
                                    <span class="amount">€ 670</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 timeline-item past">
                            <div class="line"></div>
                            <div class="sign-wrapper">
                                <div class="sign">
                                    <span class="distance">113 km</span>
                                    <span class="amount">€ 2350</span>
                                </div>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-3 timeline-item to-do">
                            <div class="line"></div>
                            <div class="sign-wrapper">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                                <div class="sign">
                                    <span class="date">15.10.18</span>
                                    <a href="#">doneren</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 timeline-item to-do">
                            <div class="line"></div>
                            <div class="sign-wrapper">
                                <div class="sign">
                                    <a href="#">doneren</a>
                                    <span class="date">15.10.18</span>
                                </div>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 m-bottom-30">
                        <div class="row no-gutters event-item">
                            <div class="col-xl-4 col-12">
                                <div class="left-part">
                                    <img src="{{ asset('assets/img/home/ev1.jpg') }}" alt="event 1"> <!-- Cropper on images  -->
                                    <div class="date">
                                        <span>15 feb 2018</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-12">
                                <div class="right-part h-100">
                                    <h4 class="event-title">Zomerparty</h4>
                                    <div class="cms black">Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt.</div>
                                    <a class="read-more" href="#">Meer lezen</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 m-bottom-30">
                        <div class="row no-gutters event-item">
                            <div class="col-xl-4 col-12">
                                <div class="left-part">
                                    <img src="img/home/ev2.jpg" alt="event 2"> <!-- Cropper on images  -->
                                    <div class="date">
                                        <span>16 maa 2018</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-12">
                                <div class="right-part h-100">
                                    <h4 class="event-title">24u fietsen</h4>
                                    <div class="cms black">Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt.</div>
                                    <a class="read-more" href="#">Meer lezen</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 m-bottom-30">
                        <div class="row no-gutters event-item">
                            <div class="col-xl-4 col-12">
                                <div class="left-part">
                                    <img src="img/home/ev3.jpg" alt="event 3"> <!-- Cropper on images  -->
                                    <div class="date">
                                        <span>28 jul 2018</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-12">
                                <div class="right-part h-100">
                                    <h4 class="event-title">Spaghetti-avond</h4>
                                    <div class="cms black">Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt.</div>
                                    <a class="read-more" href="#">Meer lezen</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 m-bottom-30">
                        <div class="row no-gutters event-item">
                            <div class="col-xl-4 col-12">
                                <div class="left-part">
                                    <img src="{{ asset('assets/img/home/ev4.jpg') }}" alt="event 4"> <!-- Cropper on images  -->
                                    <div class="date">
                                        <span>13 sep 2018</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-12">
                                <div class="right-part h-100">
                                    <h4 class="event-title">Marathon</h4>
                                    <div class="cms black">Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt.</div>
                                    <a class="read-more" href="#">Meer lezen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mountains-bottom"></div>
        </section>

        <section class="blue-section">
            <div class="container">
                <h2 class="section-title white m-bottom-75">De atleten</h2>
                <div id="athletes-slider">
                    {% for athlete in athletes %}
                        <div class="athlete-item">
                            <div class="inner">
                                <img src="{{ asset('assets/img/home/athlete.png') }}" alt="{{ athlete.firstname }}">
                                <div class="athlete-info text-center">
                                    <h4 class="athlete-name">{{ athlete.firstname }}</h4>
                                    <span class="subline m-bottom-15">{{ athlete.nickname }}</span>
                                    <div class="cms black">
                                        {{ athlete.biography }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="gray-section">
            <div class="mountains-top"></div>
            <div class="container">
                <h2 class="section-title blue m-bottom-75">Veilingen</h2>

                <div class="row m-bottom-125">
                    <div class="col-md-4 auction-item">
                        <img src="{{ asset('assets/img/home/auction.jpg') }}" alt="auction 1">
                        <div class="row no-gutters details">
                            <div class="col-6 item">
                                <span>325:15:12</span>
                            </div>
                            <div class="col-6 item">
                                <span>€260</span>
                            </div>
                        </div>
                        <div class="preview">
                            <h3 class="auction-title">Strijken met Mario</h3>
                            <div class="cms">
                                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac.</div>
                            <a class="read-more" href="#">Meer lezen</a>

                            <div class="blue-button medium text-center">
                                <a href="#">Ik doe een bod!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 auction-item">
                        <img src="{{ asset('assets/img/home/auction.jpg') }}" alt="auction 1">
                        <div class="row no-gutters details">
                            <div class="col-6 item">
                                <span>325:15:12</span>
                            </div>
                            <div class="col-6 item">
                                <span>€260</span>
                            </div>
                        </div>
                        <div class="preview">
                            <h3 class="auction-title">Strijken met Mario</h3>
                            <div class="cms">
                                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac.</div>
                            <a class="read-more" href="#">Meer lezen</a>

                            <div class="blue-button medium text-center">
                                <a href="#">Ik doe een bod!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 auction-item">
                        <img src="{{ asset('assets/img/home/auction.jpg') }}" alt="auction 1">
                        <div class="row no-gutters details">
                            <div class="col-6 item">
                                <span>325:15:12</span>
                            </div>
                            <div class="col-6 item">
                                <span>€260</span>
                            </div>
                        </div>
                        <div class="preview">
                            <h3 class="auction-title">Strijken met Mario</h3>
                            <div class="cms">
                                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac.</div>
                            <a class="read-more" href="#">Meer lezen</a>

                            <div class="blue-button medium text-center">
                                <a href="#">Ik doe een bod!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="section-title blue m-bottom-75">De goede doelen</h2>
                <div class="row m-bottom-100">
                    <div class="col-md-4 col-12 charity-item text-center">
                        <img src="{{ asset('assets/img/home/charity.png') }}" alt="charity 1" class="m-bottom-15">
                        <h3 class="charity-title">Vredeseilanden</h3>
                        <div class="cms black">
                            Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac
                        </div>
                        <a class="read-more" href="#">Meer lezen</a>
                    </div>

                    <div class="col-md-4 col-12 charity-item text-center">
                        <img src="{{ asset('assets/img/home/charity.png') }}" alt="charity 1" class="m-bottom-15">
                        <h3 class="charity-title">Vredeseilanden</h3>
                        <div class="cms black">
                            Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac
                        </div>
                        <a class="read-more" href="#">Meer lezen</a>
                    </div>

                    <div class="col-md-4 col-12 charity-item text-center">
                        <img src="{{ asset('assets/img/home/charity.png') }}" alt="charity 1" class="m-bottom-15">
                        <h3 class="charity-title">Vredeseilanden</h3>
                        <div class="cms black">
                            Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac
                        </div>
                        <a class="read-more" href="#">Meer lezen</a>
                    </div>
                </div>

                <section id="bottom-pictures">
                    <div class="grid">
                        <!-- width of .grid-sizer used for columnWidth -->
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>

                        <div class="grid-item grid-item-width-2"></div>
                        <div class="grid-item grid-item-height-2"></div>
                        <div class="grid-item grid-item-width-2"></div>
                        <div class="grid-item"></div>
                        <div class="grid-item grid-item-width-2"></div>
                        <div class="grid-item grid-social grid-facebook"></div>
                        <div class="grid-item"></div>
                        <div class="grid-item grid-item-height-2"></div>
                        <div class="grid-item grid-social grid-instagram"></div>
                        <div class="grid-item"></div>
                        <div class="grid-item"></div>
                        <div class="grid-item grid-item-width-2"></div>
                        <div class="grid-item"></div>
                    </div>

                    <div class="blue-button medium text-center">
                        <a href="#">Alle foto's</a>
                    </div>
                </section>
            </div>
            <div class="mountains-bottom"></div>
        </section>
    </main>

{% endblock %}