<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% if is_granted("ROLE_ADMIN") %}
                {{ include('admin/subtemplates/navigation/header.html.twig') }}
            {% else %}
                {{ include('subtemplates/navigation/header.html.twig') }}
            {% endif %}
        {% endblock header %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="container mt-3">
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>