{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="py-4">
        <div class="container">
            <h1>Welkom {{ app.user.username }}</h1>
        </div>

        <div class="container mt-3">
            <h3>Volgende evenementen</h3>

            <div class="event-slider my-3">
                {% for event in upcomingEvents %}
                    <div>
                        <div class="card mx-1">
                            <div class="card-header">
                                {{ event.date|date('d/m/Y') }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ event.name }}
                                </h5>

                                <p>
                                    {% if event.isCyclingEvent() %}
                                        <i class="fa fa-bicycle" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-blind" aria-hidden="true"></i>
                                    {% endif %}

                                    -

                                    {{ event.distance }}km
                                </p>
                                <a href="#" class="btn btn-info btn-sm">Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}