{% extends 'base.html.twig' %}

{% block title %}Contact | Kilometer.be{% endblock %}

{% block body %}
    <main>
        <section id="banner" class="banner-small">
            <div class="container h-100">
                <div class="wrapper h-100">
                    <div class="banner-title">
                        <h1>Kilometer<span>.be</span></h1>
                        <h2>12 vrienden verzamelen kilometers voor het goede doel</h2>
                    </div>
                    <div class="music-for-life">
                        <img src="{{ asset('assets/img/home/warmste_week.png') }}" alt="De warmste week">
                    </div>
                </div>

                <div class="mountains"></div>
            </div>
        </section>

        <section class="position-relative" style="margin-bottom: 100px;">
            <div class="mountains-top"></div>
        </section>

        {% if success %}
            <section>
                <div class="container py-5">
                    <div class="alert alert-success">
                        Uw bericht is goed verstuurd!
                    </div>

                    <a href="{{ path('homepage') }}" class="btn btn-primary mt-3">Terug naar homepage</a>
                </div>
            </section>
        {% else %}
            <section>
                <div class="container py-5">
                    <h2>Contact</h2>

                    {{ form_start(form) }}

                    <div class="mb-2">
                        {{ form_widget(form.subject) }}
                        {{ form_errors(form.subject) }}
                    </div>
                    <div class="mb-2">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="mb-2">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="mb-2">
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>

                    {# Render CSRF token etc .#}
                    <div style="display:none">
                        {{ form_rest(form) }}
                    </div>

                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>

                    {{ form_end(form) }}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}