{% block header %}
    <div>

    </div>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('admindashboard') }}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ athletePageActive ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('adminathletelist') }}">Atleten <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{ eventPageActive ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('admineventlist') }}">Events <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{ paymentPageActive ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('adminpaymentlist') }}">Betalingen <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                <a class="btn btn-dark btn-sm ml-2" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}