{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container py-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}