{% extends "admin/base.html.twig" %}

{% block body %}
<div class="container p-4">
    <div class="mb-4">
        <a href="{{ path('paymentcreate') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus mr-2" aria-hidden="true"></i> Betaling handmatig toevoegen
        </a>
    </div>

    {% if payments is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col" class="text-right">Bedrag</th>
                <th scope="col">Datum</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ payment.creator }}</td>
                    <td class="text-right">&euro; {{ payment.amount }}</td>
                    <td>{{ payment.created|date("d/m/Y") }}</td>
                    <td>
                        <span class="badge badge-pill {{ payment.status == 'paid' ? 'badge-success' : 'badge-secondary '}}">
                            {{ payment.status }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Geen betalingen gevonden</p>
    {% endif %}
</div>
{% endblock %}