{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section id="banner" class="banner-small">
            <div class="container h-100">
                <div class="wrapper h-100">
                    <div class="banner-title">
                        <h1>Kilometer<span>.be</span></h1>
                        <h2>12 vrienden verzamelen kilometers voor het goede doel</h2>
                    </div>
                    <div class="music-for-life">
                        <img src="{{ asset('assets/img/home/warmste_week.png') }}" alt="De warmste week">
                    </div>
                </div>

                <div class="mountains"></div>
            </div>
        </section>

        <section class="position-relative" style="margin-bottom: 100px;">
            <div class="mountains-top"></div>
        </section>

        <section>
            <div class="container py-5">
                <h1 class="text-primary">Doneren</h1>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-6">
                        info over goede doelen
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}