{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-4">
        {% if paymentSuccess %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Bedankt!</h4>
                <p>Uw betaling is geslaagd. Bedankt voor uw schenking en het vertrouwen in ons team.</p>
            </div>

            <a class="btn btn-primary" href="{{ path('homepage') }}">Terug naar home</a>
        {% else %}
            <div class="alert alert-danger">
                <h4 class="alert-heading">Betaling niet geslaagd!</h4>

                Gelieve nogmaals te proberen. Mocht u hierbij hinder ondervinden, aarzel dan niet om ons te contacteren via
                <a href="mailto:info@kilometer.be" class="alert-link">info@kilometer.be</a>.
                {#  {{ molliePayment.status }} #}
            </div>

            <a class="btn btn-primary" href="{{ path('payment_create') }}">Terug</a>
        {% endif %}
    </div>
{% endblock %}