{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container p-4">
        <div class="mb-4">
            <a href="{{ path('eventcreate') }}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus mr-2" aria-hidden="true"></i> Event toevoegen
            </a>
        </div>

        {% if events is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naam</th>
                    <th scope="col" class="text-center">Type</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Locatie</th>
                    <th scope="col">Acties</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ event.name }}</td>
                        <td class="text-center">
                            {% if event.isCyclingEvent() %}
                                <i class="fa fa-bicycle" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-blind" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>{{ event.date|date("d/m/Y") }}</td>
                        <td>{{ event.location }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('eventedit', { 'event': event.id }) }}" class="btn btn-primary btn-sm">
                                    Wijzigen
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Geen events gevonden</p>
        {% endif %}
    </div>
{% endblock %}