{% extends 'base.html.twig' %}

{% block title %}Contact | Kilometer.be{% endblock %}

{% block body %}
    <main>
        <section id="banner" style="background-image: url('{{ asset('uploads/uploaded_images/' ~ athlete.cover.picture) }}');">
            <div class="container h-100">
                <div class="wrapper h-100">

                </div>

                <div class="mountains"></div>
            </div>
        </section>

        <section class="blue-section p-0">
            <div class="container">
                <h2 class="text-white text-center mb-1"><strong>{{ athlete.firstname }}</strong></h2>
                <h4 class="text-white text-center mb-0">#{{ athlete.nickname }}</h4>
            </div>
        </section>

        <div class="mountains-top position-relative"></div>

        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-8">
                        <div class="d-flex justify-content-between">
                            <h4 class="text-secondary">{{ athlete.firstname }} {{ athlete.lastname }}</h4>
                            {% if athlete.birthdate %}
                                <span>*{{ athlete.birthdate|date('d/m/Y') }}</span>
                            {% endif %}
                        </div>

                        <p>{{ athlete.biography }}</p>

                        <h5 class="text-primary">Doelstellingen</h5>
                        <p>{{ athlete.goals }}</p>

                        <div class="d-flex justify-content-between mt-5">
                            {% if athlete.city %}
                                <div class="mr-3">
                                    <i class="fa fa-location-arrow text-primary mr-2 align-middle"></i>
                                    <span class="align-middle">{{ athlete.city }}</span>
                                </div>
                            {% endif %}
                            {% if athlete.instagram %}
                                <div class="mr-3">
                                    <i class="fa fa-instagram text-primary mr-2 align-middle"></i>
                                    <span class="align-middle">{{ athlete.instagram }}</span>
                                </div>
                            {% endif %}
                            {% if athlete.facebook %}
                                <div>
                                    <i class="fa fa-facebook text-primary mr-2 align-middle"></i>
                                    <span class="align-middle">{{ athlete.facebook }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 mt-4 mt-md-0">
                        {% if athlete.images %}
                            {% for image in athlete.images %}
                                <div class="mb-3">
                                    <img class="img-fluid" alt="{{ athlete.firstname }} {{ athlete.lastname }}" src="{{ asset('uploads/uploaded_images/' ~ image.picture) }}"/>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}