<footer>
    <div class="container">
        <div class="row m-bottom-50">
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="footer-title">Deze site</h3>
                <ul class="footer-list">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('eventlist') }}">Evenementen</a></li>
                    <li><a href="{{ path('payment_create') }}">Doneren</a></li>
                    {# <li><a href="#">Goede doelen</a></li> #}
                    {# <li><a href="#">Goede doelen</a></li> #}
                    {# <li><a href="#">Goede doelen</a></li> #}
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="footer-title">Evenementen</h3>
                <ul class="footer-list">
                    <li><a href="#">Zwemmarathon</a></li>
                    <li><a href="#">Spaghetti-avond</a></li>
                    <li><a href="#">Zwemmarathon</a></li>
                    <li><a href="#">Lopen</a></li>
                    <li><a href="#">Spaghetti-avond</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <img src="{{ asset('assets/img/logo.png') }}" alt="Kilometer.be" class="mb-3">
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <img src="{{ asset('assets/img/home/warmste_week.png') }}" alt="De warmste week">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="copyright">Copyright <!-- <?= date() ?> --> 2018 kilometer.be</span>
            </div>
        </div>
    </div>
</footer>