{% block header %}
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="kilomter logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <!--<span class="navbar-toggler-icon"></span>-->
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="headerNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {{ homeActive ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {{ eventActive ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('eventlist') }}">Evenementen</a>
                        </li>

                        {#
                         <li class="nav-item">
                            <a class="nav-link" href="#">Veilingen</a>
                        </li>
                        #}

                        {#
                         <li class="nav-item">
                            <a class="nav-link" href="#">Webshop</a>
                        </li>
                        #}

                        <li class="nav-item {{ paymentActive ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('payment_create') }}">Doneren</a>
                        </li>

                        {#
                         <li class="nav-item">
                            <a class="nav-link" href="#">Foto's</a>
                        </li>
                        #}

                        <li class="nav-item {{ contactActive ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}